<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title>Angular Standalone</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular.js"></script>
  
    <script>
        var app = angular.module('app', []);

        angular.module('app').controller('MyController', ['$scope', function ($scope) {
            $scope.data = [];
            $scope.calendar = [];
            $scope.lastStillDiff = null;
            $scope.lastWickelDiff = null;
            $scope.minutesToString = minutesToString;
            checkForNewData($scope);
            updateTimeSince($scope);
        }]);

        function minutesToString(minutes) {
          if(minutes < 60) return minutes + 'min';
          else {
            var hours = parseInt(minutes/60);
            var restMinutes = minutes - hours*60;
            return hours + 'h ' + restMinutes + 'min';
          }
        }

        function checkForNewData($scope) {
            $.getJSON( "http://raspi0:8083/api/data", function( rawdata ) {
                //if($scope.data.length != rawdata.length) {
                  var data = parseTime(rawdata);
                  calculateStillDuration(data);
                  calculateColor(data);
                  $scope.$apply(function () {
                      $scope.data = data;
                      updateTimeSince($scope);
                  });
                  updateCalendar($scope);
                //}
            });
            setTimeout(function () {
              checkForNewData($scope);
            }, 5000);
        }

        function updateTimeSince($scope) {
          var now = new Date();
          var data = $scope.data;
          var lastStill = null;
          var lastWickel = null;
          for(var i = data.length - 1; i >= 0; i--) {
            var entry = data[i];
            if(lastStill == null && entry.type == 'stillen') {
              lastStill = entry;
            }
            if(lastWickel == null && entry.type == 'wickeln') {
              lastWickel = entry;
            }
          }
          $scope.lastStillDiff = parseInt((lastStill ? new Date() - new Date(lastStill.time) : 0) / 1000 / 60) - 60;
          $scope.lastWickelDiff = parseInt((lastWickel ? new Date() - new Date(lastWickel.time) : 0) / 1000 / 60) - 60;
        }

        function parseTime(rawdata) {
          var data = [];
          rawdata.forEach(function(entry) {
            var time = entry.time;
            var regex = /([0-9]*)-([0-9]*)-([0-9]*) ([0-9]*):([0-9]*):([0-9]*)\.([0-9]*)/
            var result = regex.exec(time);
            entry.year = result[1];
            entry.month = result[2];
            entry.day = result[3];
            entry.hour = parseInt(result[4]) + 1; //CET
            if(entry.hour >= 24) entry.hour = entry.hour - 24;
            entry.hour = entry.hour < 10 ? '0' + entry.hour : '' + entry.hour
            entry.minute = result[5];
            entry.second = result[6];
            entry.millis = result[7];
            data.push(entry);
          });
          return data;
        }

        function calculateStillDuration(data) {
          var prev = null;
          data.forEach(function(entry) {
            if(entry.type != 'stillen') return;
            if(entry.action === 'stop' && prev && prev.action === 'start') {
              prev.durationMillis = calculateDuration(prev, entry);
              prev.durationMinutes = parseInt(prev.durationMillis/1000/60);
            }
            prev = entry;
          });
        }

        function calculateDuration(start, stop) {
            var stopDate = new Date(stop.time); //new Date(Date.UTC(2013, 1, 1, 14, 0, 5));
            var startDate = new Date(start.time); //new Date(Date.UTC(2013, 1, 1, 14, 0, 0));
            return stopDate - startDate;
        }

        function calculateColor(data) {
          data.forEach(function(entry) {
            if(entry.type == "wickeln") {
              entry.color = "brown"
            } else if(entry.type="stillen") {
              entry.color = "white"
            }
          })
        }

        function updateCalendar($scope) {
          var days = getDays($scope);
          //var now = new Date();
          //var day = {year: now.getFullYear(), month: now.getMonth()+1, day: now.getDate()}
          days.forEach(function(day){
            day.hours = [];
            for(var hour = 0; hour < 24; hour++) day.hours[hour] = [];
          });
          populateCalendar($scope, days);
          $scope.$apply(function () {
            $scope.calendar = days;
          });
        }

        function getDays($scope) {
          var days = {};
          $scope.data.forEach(function(entry) {
            var day = {year: entry.year, month: entry.month, day: entry.day}
            days[day.year+day.month+day.day] = day;
          });
          return Object.values(days);
        }

        function populateCalendar($scope, days) {
          days.forEach(function(day) {
            var wickelcount = 0;
            var stillcount = 0;
            var stillmillis = 0;
            day.hours.forEach(function(hourBucket, hour) {
              $scope.data.forEach(function(entry) {
                if(entry.action == 'stop') return;
                if(day.year != parseInt(entry.year)) return;
                if(day.month != parseInt(entry.month)) return;
                if(day.day != parseInt(entry.day)) return;
                if(hour != parseInt(entry.hour)) return;
                hourBucket.push(entry);
                //Stats
                if(entry.type == 'wickeln') wickelcount++;
                if(entry.type == 'stillen' && entry.action == 'start') stillcount++;
                if(entry.type == 'stillen' && entry.action == 'start' && entry.durationMillis) stillmillis += entry.durationMillis;
              })
              //hourBucket.push({type: 'dummy'});
            });
            day.stats = {
              stillcount: stillcount,
              wickelcount: wickelcount,
              stillminutes: parseInt(stillmillis/1000/60),
              stillaverage: parseInt(stillmillis/1000/60) / stillcount
            }
          });
        }
    </script>

  <style>
    body {
        background-color: black;
        color: white;
        margin: 10px;
    }
    td {
      border-style: solid;
      border-width: 1px;
      border-color: grey;
      width: 50px;
      height: 50px;
      text-align: center;
    }
    th {
      text-align: center;
      border-style: solid;
      border-width: 1px;
      border-color: grey;
    }
  </style>

</head>

<body ng-controller="MyController">

<a class="btn btn-default" href="#liste"><img src='img/time_quarter.png' width="20px" height="20px"> {{lastStillDiff}}min</a>
<a class="btn btn-default" href="#liste"><img src='img/Child_in_diaper_icon.svg' width="20px" height="20px"> {{lastWickelDiff}}min</a>
<a class="btn btn-primary" href="#liste">Liste</a>
<a class="btn btn-primary" href="#calendar">Kalender</a>
<a class="btn btn-primary" href="#stats">Statistik</a>

<h3 id="liste">Wickeln & Stillen</h3>

<ul>
  <li ng-repeat="entry in data.slice().reverse()" ng-if="entry.action != 'stop'">
    <x style="color:{{entry.color}}">{{entry.day}}.{{entry.month}}. {{entry.hour}}:{{entry.minute}} &ndash; </x>
        <img ng-if="entry.type == 'wickeln'" src='img/Child_in_diaper_icon.svg' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute}}">
        <img ng-if="entry.type == 'stillen' && !entry.durationMinutes || entry.durationMinutes <= 0"
            src='img/time_unknown.png' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute}}">
        <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 0 && entry.durationMinutes <= 15"
            src='img/time_quarter.png' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
        <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 15 && entry.durationMinutes <= 30"
            src='img/time_half.png' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
        <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 30 && entry.durationMinutes <= 45"
            src='img/time_3quarter.png' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
        <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 45"
            src='img/time_full.png' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
    <x style="color:{{entry.color}}">{{entry.type == 'stillen' ? 'Stillen' : 'Wickeln'}}</x>
    <x style="color:DarkCyan" ng-if="entry.durationMinutes">({{entry.durationMinutes}}min)</x>
  </li>
</ul>



<h3 id="calendar">Kalender</h3>

<div class="table-responsive">
<table class="table">
  <tr>
    <th>Tag</th>
    <th>0:00</th><th>1:00</th><th>2:00</th><th>3:00</th><th>4:00</th><th>5:00</th>
    <th>6:00</th><th>7:00</th><th>8:00</th><th>9:00</th><th>10:00</th><th>11:00</th>
    <th>12:00</th><th>13:00</th><th>14:00</th><th>15:00</th><th>16:00</th><th>17:00</th>
    <th>18:00</th><th>19:00</th><th>20:00</th><th>21:00</th><th>22:00</th><th>23:00</th>
  </tr>
  <tr ng-repeat="day in calendar.slice().reverse()">
      <td>{{day.day}}.{{day.month}}.</td>
      <td ng-repeat="hour in day.hours">
          <x ng-if="hour.length <= 0">
            &nbsp;
          </x>
          <x ng-if="hour.length > 0" ng-repeat="entry in hour">
            <img ng-if="entry.type == 'wickeln'" src='img/Child_in_diaper_icon.svg' width="20px" height="20px" title="{{entry.hour + ':' + entry.minute}}">
            <img ng-if="entry.type == 'stillen' && !entry.durationMinutes || entry.durationMinutes <= 0"
                src='img/time_unknown.png' width="20px" height="20px" title="{{entry.hour + ':' + entry.minute}}">
            <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 0 && entry.durationMinutes <= 15"
                src='img/time_quarter.png' width="20px" height="20px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
            <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 15 && entry.durationMinutes <= 30"
                src='img/time_half.png' width="20px" height="20px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
            <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 30 && entry.durationMinutes <= 45"
                src='img/time_3quarter.png' width="20px" height="20px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
            <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 45"
                src='img/time_full.png' width="20px" height="20px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
          </x>
      </td>
  </tr>
</table>
</div>

<br>
<img src='img/Child_in_diaper_icon.svg' width="20px" height="20px"> Wickeln<br>
<img src='img/time_unknown.png' width="20px" height="20px"> Stillen (Zeit unbekannt)<br>
<img src='img/time_quarter.png' width="20px" height="20px"> Stillen (0-15min)<br>
<img src='img/time_half.png' width="20px" height="20px"> Stillen (15-30min)<br>
<img src='img/time_3quarter.png' width="20px" height="20px"> Stillen (30-45min)<br>
<img src='img/time_full.png' width="20px" height="20px"> Stillen (45+ min)<br>
<br>



<h3 id="stats">Statistik</h3>

<table>
  <tr>
    <th style="white-space: nowrap; padding:3px;">Tag</th>
    <th style="white-space: nowrap; padding:3px;"># <img src='img/Child_in_diaper_icon.svg' width="20px" height="20px"></th>
    <th style="white-space: nowrap; padding:3px;"># <img src='img/time_quarter.png' width="20px" height="20px"></th>
    <th style="white-space: nowrap; padding:3px;"><img src='img/time_3quarter.png' width="20px" height="20px"> Sum</th>
    <th style="white-space: nowrap; padding:3px;"><img src='img/time_quarter.png' width="20px" height="20px"> Avg</th>
  </tr>
  <tr ng-repeat="day in calendar.slice().reverse()">
    <td style="white-space: nowrap; padding:3px;">{{day.day}}.{{day.month}}.</td>
    <td style="white-space: nowrap; padding:3px;">{{day.stats.wickelcount}}</td>
    <td style="white-space: nowrap; padding:3px;">{{day.stats.stillcount}}</td>
    <td style="white-space: nowrap; padding:3px;">{{minutesToString(day.stats.stillminutes)}}</td>
    <td style="white-space: nowrap; padding:3px;">{{day.stats.stillaverage.toFixed(2)}}min</td>
    
  </tr>
</table>


</body>
</html>
