<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title>ALX Still & Wickel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular.js"></script>
  
    <script>
        var app = angular.module('app', []);

        angular.module('app').controller('MyController', ['$scope', function ($scope) {
            $scope.debug = false;
            if($scope.debug) runTests();

            $scope.data = [];
            $scope.calendar = [];
            $scope.lastStillDiff = null;
            $scope.lastWickelDiff = null;
            $scope.millisToString = millisToString;
            checkForNewData($scope);
            updateTimeSince($scope);
        }]);

        function millisToString(millis, short) {
          var hours = Math.floor(millis/1000/60/60);
          millis = millis - (hours*60*60*1000);
          var minutes = Math.floor(millis/1000/60);
          millis = millis - (minutes*60*1000);
          var seconds = Math.floor(millis/1000);
          millis = millis - (seconds*1000);
          
          var symbolMinutes = short ? 'm' : 'min';
          
          var result = '';
          //Hours
          if(hours > 0) result += '' + hours;
          //Minutes
          if(result.length > 0) {
            result += short ? ':' : 'h ';
            result += short ? (minutes < 10 ? '0'+minutes : minutes) : minutes;
            result += short ? '' : symbolMinutes;
          } else if(minutes > 0) {
            result += '' + minutes;
            result += symbolMinutes;
          }
          //Seconds
          if(result.length <= 0 && seconds > 0) result = seconds + 's';
          return result;
        }

        function checkForNewData($scope) {
            $.getJSON( "http://raspi0:8083/api/data", function( rawdata ) {
                //if($scope.data.length != rawdata.length) {
                  var data = parseTime(rawdata);
                  calculateStillDuration(data);
                  calculatePauseBetween(data);
                  calculateColor(data);
                  $scope.$apply(function () {
                      $scope.data = data;
                      updateTimeSince($scope);
                  });
                  updateCalendar($scope);
                //}
            });
            setTimeout(function () {
              checkForNewData($scope);
            }, 5000);
        }

        function updateTimeSince($scope) {
          var now = new Date();
          var data = $scope.data;
          var lastStill = null;
          var lastWickel = null;
          for(var i = data.length - 1; i >= 0; i--) {
            var entry = data[i];
            if(lastStill == null && entry.type == 'stillen') {
              lastStill = entry;
            }
            if(lastWickel == null && entry.type == 'wickeln') {
              lastWickel = entry;
            }
          }
          $scope.lastStillDiff = parseInt((lastStill ? new Date() - new Date(lastStill.time) : 0)) - 60*60*1000;
          $scope.lastWickelDiff = parseInt((lastWickel ? new Date() - new Date(lastWickel.time) : 0)) - 60*60*1000;
        }

        function parseTime(rawdata) {
          var data = [];
          rawdata.forEach(function(entry) {
            var time = entry.time;
            var regex = /([0-9]*)-([0-9]*)-([0-9]*) ([0-9]*):([0-9]*):([0-9]*)\.([0-9]*)/
            var result = regex.exec(time);
            entry.year = result[1];
            entry.month = result[2];
            entry.day = result[3];
            entry.hour = parseInt(result[4]) + 1; //CET
            if(entry.hour >= 24) entry.hour = entry.hour - 24;
            entry.hour = entry.hour < 10 ? '0' + entry.hour : '' + entry.hour
            entry.minute = result[5];
            entry.second = result[6];
            entry.millis = result[7];
            data.push(entry);
          });
          return data;
        }

        function calculateStillDuration(data) {
          var prev = null;
          data.forEach(function(entry) {
            if(entry.type != 'stillen') return;
            if(entry.action === 'stop' && prev && prev.action === 'start') {
              prev.durationMillis = calculateDuration(prev, entry);
              prev.durationMinutes = parseInt(prev.durationMillis/1000/60);
            }
            prev = entry;
          });
        }

        function calculatePauseBetween(data) {
          var prevStillen = null;
          var prevWickeln = null;
          data.forEach(function(entry) {
            if(entry.type == 'stillen') {
              if(prevStillen) {
                entry.pauseMillis = calculateDuration(prevStillen, entry);
              }
              prevStillen = entry;
            } else if(entry.type == 'wickeln') {
              if(prevWickeln) {
                entry.pauseMillis = calculateDuration(prevWickeln, entry);
              }
              prevWickeln = entry;
            } else {
              console.error('calculatePauseBetween - unknown entry: ' + entry.type);
            }
          });
        }

        function calculateDuration(start, stop) {
            var stopDate = new Date(stop.time); //new Date(Date.UTC(2013, 1, 1, 14, 0, 5));
            var startDate = new Date(start.time); //new Date(Date.UTC(2013, 1, 1, 14, 0, 0));
            var duration = stopDate - startDate;
            if(duration < 0) console.error('calculateDuration - duration ' + duration)
            return duration;
        }

        function calculateColor(data) {
          data.forEach(function(entry) {
            if(entry.type == "wickeln") {
              entry.color = "brown"
            } else if(entry.type="stillen") {
              entry.color = "white"
            }
          })
        }

        function updateCalendar($scope) {
          var days = getDays($scope);
          //var now = new Date();
          //var day = {year: now.getFullYear(), month: now.getMonth()+1, day: now.getDate()}
          days.forEach(function(day){
            day.hours = [];
            for(var hour = 0; hour < 24; hour++) day.hours[hour] = [];
          });
          populateCalendar($scope, days);
          $scope.$apply(function () {
            $scope.calendar = days;
          });
        }

        function getDays($scope) {
          var days = {};
          $scope.data.forEach(function(entry) {
            var day = {year: entry.year, month: entry.month, day: entry.day}
            days[day.year+day.month+day.day] = day;
          });
          return Object.values(days);
        }

        function populateCalendar($scope, days) {
          days.forEach(function(day) {
            var wickelcount = 0;
            var stillcount = 0;
            var stillmillis = 0;
            day.hours.forEach(function(hourBucket, hour) {
              $scope.data.forEach(function(entry) {
                //if(entry.action == 'stop') return;
                if(day.year != parseInt(entry.year)) return;
                if(day.month != parseInt(entry.month)) return;
                if(day.day != parseInt(entry.day)) return;
                if(hour != parseInt(entry.hour)) return;
                hourBucket.push(entry);
                //Stats
                if(entry.type == 'wickeln') wickelcount++;
                if(entry.type == 'stillen' && entry.action == 'start') stillcount++;
                if(entry.type == 'stillen' && entry.action == 'start' && entry.durationMillis) stillmillis += entry.durationMillis;
              })
              //hourBucket.push({type: 'dummy'});
            });
            day.stats = {
              stillcount: stillcount,
              wickelcount: wickelcount,
              stillmillis: stillmillis,
              stillaverage: stillmillis / stillcount
            }
          });
        }


        //Tests
        function runTests() {
          testMillisToString();
        }
        function assertEquals(expected, actual, test) {
          if(expected === actual) {
            console.log('Test ' + test + ' successful! Expected: ' + expected + ', actual: ' + actual);
          } else {
            console.error('Test ' + test + ' failed! Expected: ' + expected + ', actual: ' + actual);
          }
        }
        function testMillisToString() {
          var test = 'testMillisToString';
          assertEquals('1s', millisToString(1000, false), test);
          assertEquals('50s', millisToString(50*1000, false), test);
          assertEquals('2min', millisToString(2*60*1000 + 5000, false), test);
          assertEquals('3h 2min', millisToString(3*60*60*1000 + 2*60*1000 + 5000, false), test);

          assertEquals('1s', millisToString(1000, true), test);
          assertEquals('50s', millisToString(50*1000, true), test);
          assertEquals('2m', millisToString(2*60*1000 + 5000, true), test);
          assertEquals('3:02', millisToString(3*60*60*1000 + 2*60*1000 + 5000, true), test);
        }
    </script>

  <style>
    body {
        background-color: black;
        color: white;
        margin: 10px;
    }
    td {
      border-style: solid;
      border-width: 1px;
      border-color: grey;
      width: 40px;
      height: 40px;
      text-align: center;
    }
    th {
      text-align: center;
      border-style: solid;
      border-width: 1px;
      border-color: grey;
    }
    th.small {
      font-size: 10pt;
    }
    .notify {
      background-color: white;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
      background-color: rgb(51, 122, 183);
      color: white;
    }
    .nav > li > a {
      padding: 10px 5px;
    }
    .btn {
      padding: 6px 5px;
    }
    .calender-icon {
      width: 15px;
      height: 15px;
      margin: 0px;
      padding: 0px;
    }
  </style>

</head>

<body ng-controller="MyController">

<ul class="nav nav-tabs">
  <li class="active">
      <a data-toggle="tab" href="#liste">Liste</a></li>
  <li><a data-toggle="tab" href="#calendar">Kalender</a></li>
  <li><a style="margin-right: 5px" data-toggle="tab" href="#stats">Statistik</a></li>
  <a class="btn btn-default notify" data-toggle="tab" href="#liste"><img src='img/time_quarter.png' width="20px" height="20px"> {{millisToString(lastStillDiff, true)}}</a>
  <a class="btn btn-default notify" data-toggle="tab" href="#liste"><img src='img/Child_in_diaper_icon.svg' width="20px" height="20px"> {{millisToString(lastWickelDiff, true)}}</a>
</ul>

<div class="tab-content">
<div id="liste" class="tab-pane fade in active">

    <h3>Wickeln & Stillen</h3>

    <div ng-repeat="day in calendar.slice().reverse()">
      <h4>{{day.day}}.{{day.month}}.{{day.year}}</h4>
      <ul>
      <x ng-repeat="hour in day.hours.slice().reverse()">
        <li ng-repeat="entry in hour.slice().reverse()" ng-if="entry.action != 'stop'">
          <x style="color:{{entry.color}}">{{entry.hour}}:{{entry.minute}} </x>

              <img ng-if="entry.type == 'wickeln'" src='img/Child_in_diaper_icon.svg' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute}}">

              <img ng-if="entry.type == 'stillen' && !entry.durationMinutes || entry.durationMinutes <= 0"
                  src='img/time_unknown.png' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute}}">
              <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 0 && entry.durationMinutes <= 15"
                  src='img/time_quarter.png' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
              <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 15 && entry.durationMinutes <= 30"
                  src='img/time_half.png' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
              <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 30 && entry.durationMinutes <= 45"
                  src='img/time_3quarter.png' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
              <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 45"
                  src='img/time_full.png' width="15px" height="15px" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">

          <x style="color:{{entry.color}}">{{entry.type == 'stillen' ? 'Stillen' : 'Wickeln'}}</x>
          <x style="color:DarkCyan" ng-if="entry.durationMinutes">({{entry.durationMinutes}}min)</x>
          <x ng-if="entry.action == 'stop'">(Stop)</x>

          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<x style="color:{{entry.color}}; font-size:0.8em; position: relative; top: -5px;" ng-if="entry.pauseMillis">&#x25BC; {{millisToString(entry.pauseMillis)}}</x>
        </li>
      </x>
      </ul>
    </div>
    <br>


</div>
<div id="calendar" class="tab-pane fade">


    <h3>Kalender</h3>

    <div>
    <table>
      <tr>
        <th>Uhr</th>
        <th class="small">0</th><th class="small">1</th><th class="small">2</th><th class="small">3</th><th class="small">4</th><th class="small">5</th>
        <th class="small">6</th><th class="small">7</th><th class="small">8</th><th class="small">9</th><th class="small">10</th><th class="small">11</th>
        <th class="small">12</th><th class="small">13</th><th class="small">14</th><th class="small">15</th><th class="small">16</th><th class="small">17</th>
        <th class="small">18</th><th class="small">19</th><th class="small">20</th><th class="small">21</th><th class="small">22</th><th class="small">23</th>
      </tr>
      <tr ng-repeat="day in calendar.slice().reverse()">
          <td>{{day.day}}.{{day.month}}.</td>
          <td ng-repeat="hour in day.hours">
              <x ng-if="hour.length <= 0">
                &nbsp;
              </x>
              <x ng-if="hour.length > 0 && entry.action != 'stop'" ng-repeat="entry in hour">
                <img ng-if="entry.type == 'wickeln'" src='img/Child_in_diaper_icon.svg'class="calender-icon" title="{{entry.hour + ':' + entry.minute}}">
                <img ng-if="entry.type == 'stillen' && !entry.durationMinutes || entry.durationMinutes <= 0"
                    src='img/time_unknown.png' class="calender-icon" title="{{entry.hour + ':' + entry.minute}}">
                <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 0 && entry.durationMinutes <= 15"
                    src='img/time_quarter.png' class="calender-icon" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
                <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 15 && entry.durationMinutes <= 30"
                    src='img/time_half.png' class="calender-icon" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
                <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 30 && entry.durationMinutes <= 45"
                    src='img/time_3quarter.png' class="calender-icon" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
                <img ng-if="entry.type == 'stillen' && entry.durationMinutes && entry.durationMinutes > 45"
                    src='img/time_full.png' class="calender-icon" title="{{entry.hour + ':' + entry.minute + ' ' + entry.durationMinutes + 'min'}}">
              </x>
          </td>
      </tr>
    </table>
    </div>

    <br>
    <img class="calender-icon" src='img/Child_in_diaper_icon.svg'> Wickeln<br>
    <img class="calender-icon"src='img/time_unknown.png'> Stillen (Zeit unbekannt)<br>
    <img class="calender-icon"src='img/time_quarter.png'> Stillen (0-15min)<br>
    <img class="calender-icon"src='img/time_half.png'> Stillen (15-30min)<br>
    <img class="calender-icon"src='img/time_3quarter.png'> Stillen (30-45min)<br>
    <img class="calender-icon"src='img/time_full.png'> Stillen (45+ min)<br>
    <br>


</div>
<div id="stats" class="tab-pane fade">


    <h3>Statistik</h3>

    <table>
      <tr>
        <th style="white-space: nowrap; padding:3px;">Tag</th>
        <th style="white-space: nowrap; padding:3px;"># <img src='img/Child_in_diaper_icon.svg' width="20px" height="20px"></th>
        <th style="white-space: nowrap; padding:3px;"># <img src='img/time_quarter.png' width="20px" height="20px"></th>
        <th style="white-space: nowrap; padding:3px;"><img src='img/time_3quarter.png' width="20px" height="20px"> Sum</th>
        <th style="white-space: nowrap; padding:3px;"><img src='img/time_quarter.png' width="20px" height="20px"> Avg</th>
      </tr>
      <tr ng-repeat="day in calendar.slice().reverse()">
        <td style="white-space: nowrap; padding:3px;">{{day.day}}.{{day.month}}.</td>
        <td style="white-space: nowrap; padding:3px;">{{day.stats.wickelcount}}</td>
        <td style="white-space: nowrap; padding:3px;">{{day.stats.stillcount}}</td>
        <td style="white-space: nowrap; padding:3px;">{{millisToString(day.stats.stillmillis)}}</td>
        <td style="white-space: nowrap; padding:3px;">{{millisToString(day.stats.stillaverage)}}</td>
        
      </tr>
    </table>


</div>
</div>

</body>
</html>
